<div class="container-fluid" id="reset-password-wrapper">
	<div class="row">
	  	<div class="col-sm-4"></div>
	  	<div class="col-xs-12 col-sm-4" id="password-reset-form">
	  		<p>Reset Password</p>
			<form name="resetPasswordForm" ng-submit="submitPassword()" >
				<input type="{{inputType}}" class="form-control password-input" placeholder="Temporary Password" name='temporaryPassword' ng-model="temp_password">
				<input type="{{inputType}}" class="form-control password-input" placeholder="New Password" name='newPassword' ng-model="new_password">
				<div class="checkbox">
				    <label>
				      <input type="checkbox" ng-click="hideShowPassword()" id="show-password-checkbox"> Show Password
				    </label>
				 </div>
				<input type="submit" id="submit-new-password" value="Change Password" />
			</form>
	  	</div>
	  	<div class="col-sm-4"></div>
	</div>

</div>

