<nav class="navbar navbar-default navbar-fixed-top" >
	<div class="container-fluid">
	    <a href="/">
		    <div  id="logo-wrapper">
		       	<div id="logo">
		       		<img src="/images/iPhone-60@3x.png" height="40">
		       	</div>
		    </div>
	    </a>
    </div>
</nav>
<div ng-view></div>