<div class="homepage-top-section">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="container-fluid col-xs-12 col-md-6 top-content" id="app-title">
			<div id="home-logo-wrapper">
				<img src="/images/P@3x.png">
			</div>
			<h1 class="text-center">RAAS</h1>
			<div id="tagline">
			</div>
			<p class="typewriter-text" typewrite type-delay="100" blink-cursor="false" text="A conversation with yourself" initial-delay="1s"></p>
			<!-- <p class="typewriter-text" typewrite type-delay="100" blink-cursor="false" text="And let others listen in" initial-delay="6s"></p> -->
			<a id="app-store-link" href="https://rink.hockeyapp.net/apps/7518cf5e688bd40f32e4458c809621f8"><span id="apple"></span> JOIN THE BETA</a>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
